@import "./variables";

body {
  @include media-breakpoint-up(2k) {
    font-size: 18px;
  }

  @include media-breakpoint-up(3k) {
    font-size: 20px;
  }

  @include media-breakpoint-up(4k) {
    font-size: 22px;
  }
}

.page-wrapper {
  position: relative;
  color: var(--page-color, white);
  background-color: var(--page-bg, var(--c-purple-default));
}

.page {
  padding: 0.1px;
  position: relative;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.explanation {
  p {
    max-width: 40rem;
  }
}
